poetry.lock

# --- Poetry specific ---
.venv/
poetry.toml

# --- Python environment & caching ---
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# --- Distribution / Packaging ---
/dist/
/build/
*.egg-info/

# --- Testing & Coverage ---
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/

# --- IDEs and Editors ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- Operating System artifacts ---
.DS_Store
Thumbs.db
